<h1>Add details for new compound</h1>
<form action="/compounds" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter the compound name and SMILES:</p><br/>
  <p>Compound Name: </p>
  <input type='text' name='compound[name]'/><br/>
   <p>SMILES: </p>
  <input type='text' name='compound[smiles]'/><br/><br/>
  <input type='submit'/>
</form><br/>

<%= link_to "<- Back to home", "/" %>
