<h1>Welcome to your drug-protein database</h1>

<ul>
  <li><a href="/proteins"> Protein Index</a></li>
  <li><a href="/proteins/new">Add Protein</a></li><br/>
   <li><a href="/inhibitors">View All Inhibitors</a></li>
</ul>